.span{
    font-style: italic;
    background-color: rgba(211, 199, 29, 0.842);
    color: rgb(134, 33, 173);
 }
 /* (используется для всх span) */
 .gnom{
    font-style: italic;
    background-color: rgba(211, 199, 29, 0.842);
    color: rgb(134, 33, 173);
 }
 /* ol{
    list-style: lower-latin;
 } */
 .fol{
    list-style: inside;
 }

 .othez{
   font-size: large;
   background-color: yellowgreen;
   margin: 20px; 
   /* margin:-это на ружу */
   padding : 20px;
   /* padding: -это внутри */
 } 

 .logo1{
        width: 710px; margin-left: auto; margin-right: auto;
        }

        .activity_title_hours{
         display: flex;
     } 
     
 .RGB1 {
      background: linear-gradient(to right, red, orange, yellow, green, rgb(255, 94, 0), blue, violet);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 40px;
      line-height: 40px;
    }

 .RGB2 {
      background: linear-gradient(to right, pink  , rgba(21, 132, 146, 0.87)  , rgb(255, 191, 0) , #F3E5C6, rgb(255, 94, 0), gold  , violet);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 40px;
      line-height: 40px;
    }

 .RGB3 {
      background: linear-gradient(to right, rgb(107, 18, 18), rgb(78, 17, 114), rgb(255, 238, 0), rgba(27, 197, 56, 0.39), rgb(255, 94, 0), rgb(12, 192, 108), violet);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 40px;
      line-height: 40px;
    }
    /* .cc{
      background-image: url(scool.gif);
      background-repeat: no-repeat;
      background-position: 50px 176px;
    } */

    .cicret {
      background: linear-gradient(to right, pink  , rgba(21, 132, 146, 0.87)  , rgb(255, 191, 0)yellow , #F3E5C6, rgb(255, 94, 0), gold  , violet);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 40px;
      line-height: 40px;
    }
    /* h2{
      font-style: italic;
    background-color: rgba(211, 199, 29, 0.842);
    color: rgb(134, 33, 173);} */
