span{
    font-style: italic;
    background-color: rgba(211, 199, 29, 0.842);
    color: rgb(134, 33, 173);
 }
 /* (используется для всх span) */
 .gnom{
    font-style: italic;
    background-color: rgba(211, 199, 29, 0.842);
    color: rgb(134, 33, 173);
 }
 /* ol{
    list-style: lower-latin;
 } */
 .fol{
    list-style: inside;
 }

 .othez{
   font-size: large;
   background-color: yellowgreen;
   margin: 20px; 
   /* margin:-это на ружу */
   padding : 20px;
   /* padding: -это внутри */
 } 

 .logo1{
        width: 710px; margin-left: auto; margin-right: auto;
        }

        .activity_title_hours{
         display: flex;
     }
     
