/* 1 h2 испоользовался хз скок раз*/

h2 {
  color: rgba(145, 32, 32, 0.178);
  text-align: center;
}

  /* 1 body испоользовался 1 раз*/
body {
  
  background-image: url(https://i.pinimg.com/originals/4f/df/c1/4fdfc15e4339422e434b294f3382de0a.png);
  /* изображения */
  background-position: center center;
    /*  изображение всегда смотрит за сторанами */
  background-repeat: no-repeat;
   /*  изображение не повторяется */
   background-attachment: fixed;
   /*  изображение зафиксировано в окне , поэтому оно не смещается */
  background-size: cover;
     /* подгоняет фон так что бы он был растянут на весь экран  */
  background-color: #48ff00;
   /* Устанавливает фоновый цвет, который будет отображаться, пока загружается фоновое изображение */
}


 /* 1 span испоользовался 1 раз*/
.span{
    font-style: italic;
    background-color: rgba(211, 199, 29, 0.842);
    color: rgb(134, 33, 173);
 }

 /* (используется для всх span) */
         /* 1 gnom испоользовался 1 раз возможно щяс 0*/
 .gnom{
    font-style: italic;
    background-color: rgba(211, 199, 29, 0.842);
    color: rgb(134, 33, 173);
 }

 /* ol{
    list-style: lower-latin;
 } */

          /* 1 fol испоользовался 0 раз*/
 .fol{
    list-style: inside;
 }

         /* 1 othez испоользовался 0 раз*/
 .othez{
   font-size: large;
   background-color: yellowgreen;
   margin: 20px; 
   /* margin:-это на ружу */
   padding : 20px;
   /* padding: -это внутри */
 } 

          /* 2 logo1 испоользовался 2 раз*/
 .logo1{
    color: goldenrod;
}
.logo2{
  color: greenyellow;
}

             /* 1  RGB  испоользовался 5 раз*/
 .RGB1 {
      background: linear-gradient(to right,  rgb(110, 3, 153),  rgb(24, 205, 236), rgb(115, 255, 0), blue );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 40px;
      line-height: 40px;
    }

 .RGB2 {
      background: linear-gradient(to right, rgb(19, 205, 238), gold  , rgb(19, 209, 243));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 40px;
      line-height: 40px;
    }

 .RGB3 {
      background: linear-gradient(to right, rgb(255, 238, 0), rgb(30, 255, 0), violet);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 40px;
      line-height: 40px;
    }
    /* .cc{
      background-image: url(scool.gif);
      background-repeat: no-repeat;
      background-position: 50px 176px;
    } */

    
    /* h2{
      font-style: italic;
    background-color: rgba(211, 199, 29, 0.842);
    color: rgb(134, 33, 173);} */
 .RGB4 {
      background: linear-gradient(to right, rgb(30, 255, 0) , gold  , violet);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 40px;
      line-height: 40px;
      
    }

    .RGB5 {
      background: linear-gradient(to right, rgb(60, 255, 0)  ,rgb(255, 196, 0)  , rgba(180, 977, 01, 9.61) , rgb(255, 74, 11), gold );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 40px;
      line-height: 40px;
    }

    .RGB6 {
      background: linear-gradient(to right, rgb(14, 202, 193), rgb(188, 199, 33));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 23px;
      line-height: 23px;
    }

    .RGB7 {
      background: linear-gradient(to right, rgb(175, 177, 177), rgb(200, 255, 0) ,  rgba(19, 160, 179, 0.87)) ;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 23px;
      line-height: 23px;
    }

    .RGB8 {
      background: linear-gradient(to right, rgba(124, 126, 126, 0.637), rgb(225, 226, 222) ,  rgba(134, 134, 134, 0.87)) ;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 23px;
      line-height: 23px;
    }
    .RGB9 {
      background: linear-gradient(to right, rgba(230, 27, 13, 0.637), rgb(225, 226, 222) , rgba(230, 27, 13, 0.637)) ;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 23px;
      line-height: 23px;
    }

                     /* 1  element и иные названия  испоользовался 4-6 раз*/

    .element {
      transition: box-shadow 0.73s ease;  /* Плавное появление свечения */
    }

    .element:hover {
      box-shadow: 0 0 70px #adf700;  /*  свечение, радиус px */
    }
    
    .elem {
      transition: box-shadow 0.74s ease;  /* Плавное появление свечения */
    }
    
    .elem:hover {
      box-shadow: 0 0 80px #f38304;  /*  свечение, радиус px */
    }

    
    .el {
      transition: box-shadow 0.44s ease;  /* Плавное появление свечения */
    }

    .el:hover {
      box-shadow: 0 0 70px #d80869;  /*  свечение, радиус px */
    }
    
    .elt {
      transition: box-shadow 0.73s ease;  /* Плавное появление свечения */
    }
 
    .elt:hover {
      box-shadow: 0 0 80px #caf700;  /*  свечение, радиус px */
    }

   .logi {
      transition: box-shadow 0.75s ease;  /* Плавное появление свечения */
    }
 
    .logi:hover {
      box-shadow: 0 0 32px rgba(0, 255, 136, 0.795);  /*  свечение, радиус px */
    }
    
    .lo {
      transition: box-shadow 0.73s ease;  /* Плавное появление свечения */
    }
 
    .lo:hover {
      box-shadow: 0 0 50px #f1dede;  /*  свечение, радиус px */
    }
    
             /* 1  element и иные названия  испоользовался 1 раз*/
    .cicret {
      background: linear-gradient(to right, pink  , rgba(21, 132, 146, 0.87)  , rgb(255, 191, 0)yellow , #F3E5C6, rgb(255, 94, 0), gold  , violet);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 40px;
      line-height: 40px;
      text-decoration: none;
       /* Убирает у ___ 'a' ну  нижнее подчеркивание у ссылк */
    }


.wrapper p {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 7px 7px 10px #00c3ff79;
}
